
@font-face {
    font-family: "Roboto_BL";
    src: url(./fonts/Roboto-Black.ttf);
  }

  @font-face {
    font-family: "Roboto_R";
    src: url(./fonts/Roboto-Regular.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.main{
   
}

.box{
    width:100vw;
    height:100vh;
    display: flex;
    

}

.content{
    flex:1; 
    margin-top: 1%;   
    margin-right: 5%;
}


/*
.logbox{   
   align-items: center;
    background:red;
    width: 440px;
}


/*
/* .logbox form{
    padding: 0 40px;
    box-sizing: border-box;
} */

.img{
    flex: .8;
    background-image: url("../img/regbgimg.png");
    height:100%;
    width:100%;
    background-repeat: no-repeat;
    background-size: 90% 100%;
   
}

/* .headgrp{
    margin-bottom: 30%;
} */

.mainHead{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 2%;

}

.logo {
    background: url("../img/Logo1.png");
    padding: 0px;
    margin: 0px;
    width: 60px;
    height: 60px;
    background-size: cover;
    
  }

.content h1{
	color:radial-gradient(#010740, #FF0000);
	font-size:32px;
	text-align:center;
    font-family: "Roboto_BL";
    margin-left:2%;
    letter-spacing: 0.26em;
    transition: .7s ease-in-out;
}

.regmainhead{
    background: linear-gradient(to right, #010740 0%, #FF0000 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.regmainhead:hover{
	
    background: linear-gradient(to right, #FF0000 0%, #010740 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align:center;
}

.content h2{
    
    font-family: Roboto;
    margin-bottom: 0%;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-align:center;
}

.regsubhead{
    background: linear-gradient(to right, #010740 0%, #D71C1C 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


form{
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    align-items: center;
    margin-top: 7%;
}

.flexBox{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.subField{
    display: flex;
    column-gap: 50px;
    
}


input[type="text"],input[type="password"],input[type="number"]{
    width: 280px;
    height: 41px;
    padding-left: 20px;
    font-family: "Roboto_R";
    color:#222222;
    border:1px solid #BFBFBF;
    border-radius: 0px 10px 10px 0px;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#737373;
    opacity: 1; /* Firefox */
  }

form .txt_field{
    font-family: "Roboto_R";
    font-size: 14px;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;                               
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #11253E;
  color: white;
  min-width: 50px;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.resetpass{
    display: flex;
    justify-content:space-evenly;
    width:437px;
}

.fpass{
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 15%;
}

.fpass:hover{
    text-decoration: underline;
}

a{
    color:#3F0707;
    text-decoration: none;
}

.CheckCont{ 
    position: relative;  
    padding-left: 35px;  
    margin-bottom: 20px;  
    cursor: pointer;  
    font-size: 18px;
    color: #000000;
 }

 .CheckCont input{
    visibility: hidden;  
    cursor: pointer;  
 }

 .mark {  
    position: absolute;  
    top: 0;  
    left: 0%;  
    height: 20px;  
    width: 20px;  
    background-color: lightgray;  
  }  

  .CheckCont:hover input ~ .mark {  
    background-color: gray;  
  }  
    
  .CheckCont input:checked ~ .mark {  
    background-color: blue;  
  } 
  
  .mark:after {  
    content: "";  
    position: absolute;  
    display: none;  
  } 

  .CheckCont input:checked ~ .mark:after {  
    display: block;  
  }

  .CheckCont .mark:after {  
    left: 7px;  
    top: 1px;  
    width: 5px;  
    height: 13px;  
    border: solid white;  
    border-width: 0 3px 3px 0;  
    transform: rotate(45deg);  
  }  

input[type="submit"]{
    width: 435px;
    height: 49px;
    background: #11253E;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 18px; 
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    letter-spacing: 0.125em;
    margin-top: 1%;
}

input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}

 .register_link{
     margin: 20px 0px;
     text-align: center;
     font-size: 18px;
     color: #000000;
     margin-top: -1%;
     margin-right: 20%;
 }   

 .register_link a{
     color: #FF0B0B;
     text-decoration: none;
 }

 .register_link a:hover{
     text-decoration: underline;
 }  


 /* The message box is shown when the user clicks on the password field */
.message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: absolute;
    padding: 0px;
    z-index: 10;
    margin: 2% 50%;
    width: 350px;
    height: 300px;
    background-color: #FDFEFE;
    border: 1px solid black;
  }

  .msgbox{
    margin: 10% 8%;
    width: max-content;
  }
  
  .message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  .close{
    padding: 0px;
    margin-top:-4%;
    height: 25px;
    margin-left:96%;
  }